html, body {
    padding: 0px;
}

#splash-screen {
   /*visibility: hidden;*/
	text-align: center;
}

#end-screen {
    visibility: hidden;
}

canvas {
    /*position: absolute;*/
    top: 0px;
    left: 0px;
    background-color: aqua; /*for now*/
}