html, body {
    padding: 0px;
}

#splash-screen {
   /*visibility: hidden;*/
    text-align: center;
}

#end-screen {
    display: none;
}

canvas {
    display: none;
    position: absolute;
    top: 0px; left: 0px;
    background-color: forestgreen; /*for now*/
}